@import "../../../styles/variables.scss";

$btn-size: 3rem;

.GoogleButton{
    height:$btn-size;
    width:100%;
    max-width:$btn-size;
    background-color: $text;
    display: flex;
    justify-content: center;

    &:hover{
        transform: scale(1)!important;
    }

    img{
        max-width: 75%;
    }
}